@page
@model WebApplication1.Pages.ActivitatiProiect.NewActivityModel
@{
}


<br />
<h2>Creaza o noua activitate</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
    </div>    
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ID_produs</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="id_produs" value="@Model.activitatiProiect.ID_produs" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ID_activitate_proiect</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="id_activitate_proiect" value="@Model.activitatiProiect.ID_activitate" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ID_activitati_predecesoare</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="id_activitati_predecesoare" value="@Model.activitatiProiect.ID_activitati_predecesoare" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Descriere_activitate</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="descriere_activitate" value="@Model.activitatiProiect.Descriere_activitate" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Durata_standard_activitate</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="durata_standard_activitate" value="@Model.activitatiProiect.Durata_standard_activitate" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Durata_minima_activitate</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="durata_minima_activitate" value="@Model.activitatiProiect.Durata_minima_activitate" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">UM_durata</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="um_durata" value="@Model.activitatiProiect.UM_durata" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Cost_standard_activitate</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="cost_standard_activitate" value="@Model.activitatiProiect.Cost_standard_activitate" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Cost_maxim_activitate</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="cost_maxim_activitate" value="@Model.activitatiProiect.Cost_maxim_activitate" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">UM_cost</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="um_cost" value="@Model.activitatiProiect.UM_cost" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div> 
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>