@page
@model WebApplication1.Pages.Produs.CreateModel
@{
}


<br />
<h2>Adauga un nou produs</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
    </div>
}

<body>
    <form method="post">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">ID_produs</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="id_produs" value="@Model.produs.ID_produs" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Denumire_produs</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="denumire_produs" value="@Model.produs.Denumire_produs" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Cod_produs</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="cod_produs" value="@Model.produs.Cod_produs" />
            </div>
        </div>

        @if (Model.successMessage.Length > 0)
        {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                    </div>
                </div>
            </div>
        }

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
            </div>
        </div>
    </form>
</body>